:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.all-users {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    gap: 10px;
}

.all-user-noallowit {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.all-users .all-users-explanations{
    all: unset;
    text-align: center;
    margin-bottom: 30px;
}

.all-user-find {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-user-find-inner{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.2rem solid var(--border);
    border-radius: 10px;
    padding: 8px;
}

.user-find {
    width: 20%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-find .bx {
    all: unset;
    columns: #111;
    font-size: 1.5rem;
    font-weight: bold;
}

#inputfind{
    width: 80%;
    border: none;
    font-size: 14px;
    text-align: center;
}

#inputfind:focus{
    outline: none;
}

@media ( width < 440px) {
    .all-user-find-inner{
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0.2rem solid var(--border);
        border-radius: 10px;
        padding: 8px;
    }
    .all-user-find-card {
        width: 100%;
    }
}
