:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.all-users {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    gap: 10px;
}

.all-user-find {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputfind{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

#inputfind:focus{
    outline: none;
    border-color: var(--btns);
    box-shadow: 0 0 0 2px #007bff1a;
}

@media ( width < 440px) {
    #inputfind{
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 14px;
        text-align: center;
    }
}
