:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.Pendingfriendrequests {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.Pendingfriendrequests span {
    font-weight: bold;
    font-size: 1rem;
}

.no-request {
    all: unset;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: 180px;
}

.Pendingfriendrequests h2 {
    all: unset;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.card-Pendingfriendrequests {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--border);
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
}