.group {
    width: 330px;
    height: auto;
    display: flex;
    position: absolute;
    top: 140px;
    z-index: 1;
    overflow-y: auto;
}

.group img {
    width: 85%;
    height: auto;
    border-radius: 10px;
}
