:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.Configprofilemain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.Configprofilemain h2 {
    all: unset;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.Configprofilemain-form {
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.01rem solid var(--border);
    padding: 15px 10px 15px 10px;
    gap: 5px;
}

.reload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.reload-overlay-content {
    color: white;
    font-size: 24px;
}

.Configprofilemain-form-currentdatauser {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 5px 15px 5px;
    gap: 20px;
}

.Configprofilemain-form-currentdatauser img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.Configprofilemain-form-currentdatauser h3 {
    all: unset;
    text-align: center;
    font-size: 1rem;
}

.Configprofilemain-form-currentdatauser span {
    font-weight: bold;
}

.Configprofilemain-form form {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 0.01rem solid var(--border);
}

.Configprofilemain-form form h6 {
    all: unset;
    font-size: 1rem;
    font-weight: bold;
}

.Configprofilemain-form textarea {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}

.Configprofilemain input[type="text"],
.Configprofilemain input[type="email"],
.Configprofilemain input[type="password"],
.Configprofilemain input[type="file"],
.Configprofilemain button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Configprofilemain button {
    background-color: var(--btns);
    color: #fff;
    cursor: pointer;
}

.Configprofilemain button:hover {
    background-color: var(--Azul-claro);
    color: #111;
}

.Configprofilemain-form2 {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Configprofilemain-form h4 {
    all: unset;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
}

.Configprofilemain-form p {
    all: unset;
    width: 90%;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Configprofilemain-form2 i {
    text-align: center;
    color: rgb(0, 150, 35);
}

.proposal-config-profile {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.proposal-config-profile span {
    color: var(--btns);
    font-weight: bold;
}

.proposal-config-profile input {
    width: 20px;
    height: 20px;
}

.proposal-config-profile h6 {
    all: unset;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (width < 440px) {
    .Configprofilemain-form-currentdatauser img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}