:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.LikesSubcom {
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.LikesSubcom h6 {
  all: unset;
  font-size: 0.7rem;
}

.LikesSubcom i {
  font-size: 0.8rem;
}
@media (width < 440px) {
  .LikesSubcom {
    height: 100%;
    position: absolute;
    right: 10px;
  }
}
