:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.Likepost {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.Likepost h6{
    all: unset;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.Likepost i {
    font-size: 1.1rem;
    font-weight: bold;
}

@media(width < 440px){
    .Likepost {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}