:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.Likepost {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Likepost h6 {
  all: unset;
  font-size: 0.875rem;
  text-align: center;
}

.Likepost .bxs-heart.on {
  color: red;
  animation: scale-down-center 0.3s ease-in-out;
}
.Likepost .bx-heart{
  animation: scale-up-center 0.3s ease-in-out;
}

@keyframes scale-up-center {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
