:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.Likepost {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5px;
    top: -8px;
    right: 15px;
}

.Likepost h6{
    all: unset;
    font-size: 0.75rem;
    text-align: center;
}

.Likepost i {
    font-size: 1rem;
}