:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.comments {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7px;
}
.form-container textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--border);
  border-radius: 2px;
  text-align: start;
  font-size: 0.875rem;
  resize: none;
  transition: height 0.3s ease-in-out;
}

.main-comment {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border: 0.01rem solid var(--Gris-perla);
  border-bottom: 1px solid var(--border);
  font-size: 0.8rem;
  resize: vertical;
}

.main-comment::placeholder {
  color: #111;
}

.main-comment:focus {
  border-color: #333;
}

.submit-btn {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--btns);
}

.submit-btn:hover {
  color: #2680d4;
}
