:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.connections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 250px;
    gap: 20px;
}


.all-users-mapeo {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.all-users-profile-information-connection {
    width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    margin-top: 50px;
    position: relative;
    padding-bottom: 40px;
}

.all-users-profile-information-image {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.all-users-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.all-users-profile-information-data {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.all-users-userid {
    all: unset;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.all-users-name {
    all: unset;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.all-users-bio {
    all: unset;
    text-align: left;
    font-size: 0.75rem;
    padding-right: 10px;
}

.all-user-connections {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: var(--Azul-claro);
    padding-top: 5px;
    padding-bottom: 10px;
}

.all-user-connections-counters {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.all-users-other-profile {
    all: unset;
    width: 100px;
    height: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #ffffff;
    padding: 2px 6px 3px 6px;
    background-color: var(--btns);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.all-user-connections-counters h6 {
    all: unset;
    font-size: 0.8rem;
}

.all-user-connections-counters span {
    all: unset;
    font-weight: bold;
}

@media (width < 440px) {
    .all-users-mapeo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        justify-content: center;
        align-items: center;
    }
    .all-users-profile-information-connection {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border);
        margin-top: 50px;
        position: relative;
    }
}
