:root {
    --border-color: #dbdbdb;
    --btn-background: #0095f6;
    --btn-hover: #0080d4;
}

.create-post {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.create-post-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-post-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.brand-announcement h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.create-post-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-post-card input[type="file"],
.create-post-card textarea {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.create-post-card input[type="file"]:hover,
.create-post-card textarea:hover {
    background-color: #f9f9f9;
}

.create-post-card textarea {
    resize: vertical;
    min-height: 100px;
}

.create-post-card button {
    padding: 10px 20px;
    background-color: var(--btn-background);
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-post-card button:hover {
    background-color: var(--btn-hover);
}

@media (max-width: 500px) {
    .create-post-card {
        padding: 5px;
    }

    .create-post-card form {
        gap: 5px;
    }

    .create-post-card input[type="file"],
    .create-post-card textarea {
        padding: 4px;
        font-size: 12px;
    }

    .create-post-card button {
        padding: 4px 8px;
    }
}
