:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.delete-btn {
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.delete-btn button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
