:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.delete-btn-1 {
    width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 5px;
   right: 5px;
}

.delete-btn-1 button {
    all: unset;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--Blanco-hueso);
}

.delete-btn-1 .bx {
    font-size: 17px;
    color: rgb(253, 81, 81);
}