:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.delete-btn {
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 500px;
   right: 30px;
   z-index: 10;
}

.delete-btn-warning {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
}

.delete-btn-warning h5{
    all: unset;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}

.delete-btn button {
    all: unset;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn .bx.bx-arrow-back {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.delete-btn .bx.bxs-trash {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.delete-btn .bx.bx-dots-horizontal {
    font-size: 25px;
    cursor: pointer;
}



