:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.delete-btn {
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 5px;
   right: 5px;
}

.delete-btn button {
    all: unset;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.delete-btn .bx {
    font-size: 25px;
    color: var(--btns);
}
