:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.display-comments {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.display-comment-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;
}
.inform-commet {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  gap: 15px;
}
.PhotoAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.comment-content-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.comment-content {
  width: 250px;
  height: auto;
  text-wrap: pretty;
  font-size: 0.875rem;
  text-align: start;
}
.respond {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.respond button {
  all: unset;
  padding: 10px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--btns);
}
.comment-date {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(96, 96, 96);
  margin-bottom: 3px;
  margin-left: 5px;
}
.comment-userName {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(96, 96, 96);
  margin-bottom: 3px;
  margin-left: 5px;
  cursor: pointer;
}
.hide-subcomments {
  width: fit-content;
  height: auto;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: var(--btns);
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
  background: none;
}

.show-subcomments {
  width: fit-content;
  height: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: var(--btns);
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  background: none;
  margin-bottom: 3px;
}
.noneComment {
  font-size: 0.875rem;
  padding: 5px 8px 5px 8px;
  text-wrap: pretty;
  text-align: start;
}

.display-comments-there-is-not-comments {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.display-comments-there-is-not-comments h5 {
  all: unset;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  color: var(--btns);
}

.display-comments-there-is-not-comments h6 {
  all: unset;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  color: var(--btns);
}
@media (width < 440px) {
  .inform-commet {
    width: 90%;
    padding-left: 15px;
  }
  .comment-content {
    width: 170px;
  }
}

/*@media (width < 440px){
    .display-comment-card {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: 10px;
        position: relative;
    }
}*/
