:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.display-subcomment {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.display-subcomment-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 25px;
  position: relative;
}

.subcomment-comment {
  all: unset;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 0.01rem solid #111;
}

.subcomment-date {
  all: unset;
  font-size: 0.6rem;
  margin-bottom: 5px;
  color: rgb(108, 108, 108);
}
@media (width < 300px) {
  .display-subcomment-container{
    padding: 0 10px;  
  }
}
