:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.all-users-mapeo-1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-users-profile-information-1 {
    max-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    margin-top: 50px;
    position: relative;
}

.all-users-other-profile-find {
    all: unset;
    width: 100px;
    height: 20px;
    padding: 6px 2px 6px 2px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--btns);
    color: white;
    text-align: center;
    cursor: pointer;
}

.all-users-profile-information-image-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.all-users-profile-image-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 70px;
}

.all-users-profile-information-data-1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.all-users-userid-1 {
    all: unset;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.all-users-name-1 {
    all: unset;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.all-users-bio-1 {
    all: unset;
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
}

@media (width < 440px) {
    .all-users-mapeo {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        justify-content: center;
        align-items: center;
    }
    .all-users-profile-information {
        width: 90%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border);
        margin-top: 50px;
        position: relative;
    }
}