:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1000;
    background: rgba(173, 216, 230, 0.35);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

header a {
    all: unset;
}

header .logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .logo:hover {
    cursor: pointer;
}

header .logo img {
    width: calc(400px / 3);
}

header .menu {
    width: 80%;
    height: 100%;
}

@media (345px <=width < 450px) {
    header .logo img {
        width: calc(400px / 4);
    }
}

@media (width < 345px) {
    header .logo img {
        width: calc(400px / 5);
    }
}

.menu {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.menu h5 {
    all: unset;
    font-size: 0.6rem;
    text-align: center;
}

.menu i {
    all: unset;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.menu-alluser {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.menu-menu {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
    position: relative;
}

.menu-menu-notify {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -13px;
    right: 0px;
}

.menu-menu-notify-none {
    display: none;
}

.menu-menu-notify .bx {
    color: red;
    font-size: 1rem;
    animation: vibrar 0.1s infinite alternate, cambio-color 1s infinite alternate;
}

@keyframes vibrar {
    0% { transform: translateX(-2px); }
    100% { transform: translateX(2px); }
}

@keyframes cambio-color {
    0% { color: black; }
    50% { color: red; }
    100% { color: black; }
}

.conection-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 182, 230);
    position: absolute;
    top: -15px;
    right: -5px;
}

.conection-counter-grosse {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 182, 230);
    position: absolute;
    top: -15px;
    right: -5px;
}

.conection-counter-grosse h6 {
    all: unset;
    font-size: 0.45rem;
    font-weight: bold;

}

.conection-counter h6 {
    all: unset;
    font-size: 0.55rem;
    font-weight: bold;
}

.menu-profile {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 2px;
    padding: 0 10px 0 10px;
}

.menu-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
}

@media (width < 345px) {
    .menu h5 {
        display: none;
    }
}