:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.Mypost {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}
