:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.post-card {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 20px 10px;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid #ccc;
  gap: 20px;
}

.post-card-description {
  all: unset;
  width: 95%;
  text-align: left;
  font-size: 0.875rem;
}
.post-card-msg-likes {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  gap: 1.2rem;
}
