:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.post {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 100px;
}

.post-card {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.post-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-content {
    padding: 10px;
}