:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  gap: 10px;
  position: relative;
}

.profile-information {
  width: 360px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  position: relative;
  padding: 25px 0;
  margin-top: 50px;
  gap: 20px;
}

.Configprofile {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.Configprofile a {
  all: unset;
}

.Configprofile .bx {
  font-size: 1.5rem;
}

.exit {
  width: 60px;
  height: auto;
  top: -11px;
  border: none;
  height: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  border-radius: 2px;
  position: absolute;
  background-color: var(--Azul-claro);
  color: #111;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.exit:hover {
  background-color: var(--btns);
}

.pending-request-btn {
  all: unset;
  width: auto;
  height: auto;
  border: none;
  height: auto;
  padding: 3px 8px 5px 8px;
  background-color: var(--btns);
  color: #111;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.CounterNotifyRequests {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -25px;
  z-index: 2;
  background-color: var(--Azul-claro);
}

.CounterNotifyRequests h5 {
  all: unset;
  font-size: 0.65rem;
  font-weight: bolder;
}

.CounterNotifyRequests h5:hover {
  all: unset;
  font-size: 0.65rem;
  font-weight: bolder;
  color: black;
}

.CounterNotifyRequests-1 {
  width: 0;
  height: 0;
  position: absolute;
  top: -13px;
  right: -11px;
  transform: rotate(75deg);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 15px solid var(--Azul-claro);
}

.pending-request-btn:hover {
  cursor: pointer;
}

.pending-request-btn h3 {
  all: unset;
}

.profile-post {
  width: 80%;
  height: auto;
}
