.Renderimagespost {
    position: relative;
    width: 120%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Renderimagespost a {
    width: 120%;
}

.Renderimagespost img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.carousel {
    width: 100%;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.circulo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(20, 145, 248);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.5);
}

.circulo.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(254, 75, 75);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.5);
}

.buttons-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 5px 0px 5px;
    margin: 0 5px;
    color: #333;
}

.buttons-container button.active {
    font-weight: bold;
}

