.Renderimagespost {
    position: relative;
    width: 120%;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Renderimagespost a {
    width: 120%;
}

.Renderimagespost img {
    width: 350px;
    object-fit: cover;
}

.slides {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.circulo {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(20, 145, 248);
    border: 2px solid rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.5);
}

.circulo.active {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(113, 223, 253);
    border: 3px solid rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(254, 254, 254, 0.5);
}

.buttons-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    margin: 0 5px;
    color: #333;
}

.buttons-container button.active {
    font-weight: bold;
}

@media (width < 440px){
    .Renderimagespost img {
        width: 55%;
        object-fit: cover;
    }
}

