:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.Singleprofile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.Single-ifnformation-main {
  width: 360px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  gap: 20px;
  padding: 25px 0;
}
.Singleprofile-information {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.Singleprofile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.Singleprofile-information-data {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Singleprofile-userid,
.Singleprofile-name,
.Singleprofile-bio {
  font-size: 0.875rem;
  text-align: start;
}
.Singleprofile-userid {
  font-weight: bold;
}
.Singleprofile-bio {
  width: 90%;
  height: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.Singleprofile-bio button {
  all: unset;
  cursor: pointer;
  font-weight: bold;
}

.single-profile-counters {
  width: 360px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 8px;
  border: 0.01rem solid var(--Gris-perla);
  border-top: none;
}

.Singleprofile-posts {
  width: 80%;
  height: auto;
  margin-top: 20px;
}

@media (width <= 394px) {
  .Single-ifnformation-main,
  .single-profile-counters,
  .Singleprofile-posts {
    width: 90%;
  }
}
