:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}


.form-others {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5px;
}

.others-comment {
    width: 80%;
    flex: 1;
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--border);
    font-size: 0.8rem;
    outline: none;
    background-color: var(--border);
}

.others-comment::placeholder {
    color: #111;
}

.others-comment:focus {
    border-color: #333;
}

.comment-btn {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--btns);
    font-weight: bold;
    margin-top: 5px;
}

.comment-btn:hover {
    color: #2680d4;
}

