:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.displaycounters {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (width < 440px) {
    .displaycounters {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

}