:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}


.displaycounters {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    margin-top: 50px;
    position: relative;
}

@media (width < 440px){
    .displaycounters {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        border-left: none;
        border-right: none;
        margin-top: 50px;
        position: relative;
    }

}