:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --btns: #0095f6;
}

.card-msg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-msg a {
    all: unset;
    width: 350px;
}

.card-msg-title {
    text-align: center;
    font-size: 1rem;
}


.card-msg-newsms {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.01rem solid var(--Gris-perla);
    align-items: center;
    padding: 18px 0px 18px 0px;
    border-radius: 5px;
    gap: 10px;
    background-color: var(--Azul-claro);
}

.card-msg-info {
    width: 350px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01rem solid var(--Gris-perla);
    border-radius: 5px;
    cursor: pointer;
}

.card-msg-title-none {
    display: none;
}

.card-msg-newsms-none {
    display: none;
}

.card-msg-newsms-sms {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 18px;
}

.card-msg-newsms-sms h4{
    all: unset;
    font-size: 0.8rem;
    text-align: center;
}

.card-msg-newsms-sms span {
    font-weight: bolder;
}

.card-user1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-user1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card-user1 h4 {
    all: unset;
    font-size: 0.9rem;
    font-weight: bold;
}

@media (width < 440px) {
    .card-msg a {
        all: unset;
        width: 100%;
    }

    .card-msg-info {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.01rem solid var(--Gris-perla);
        border-radius: 0px;
    }

    .card-msg-newsms {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 0.01rem solid var(--Gris-perla);
        align-items: center;
        padding: 18px 0px 18px 0px;
        border-radius: 5px;
        gap: 10px;
        background-color: var(--Azul-claro);
    }
}