:root {
  --border: #dbdbdb;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

.card-msg {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  gap: 8px;
}

.card-msg a {
  all: unset;
  width: 100%;
}

.card-msg-title {
  text-align: start;
  font-size: 1rem;
  font-weight: bold;
}

.card-msg-newsms {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 0px 18px 0px;
  border-radius: 5px;
  gap: 10px;
}

.card-msg-info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 15px;
  transition: 0.2s ease-in;
}
.card-msg-info.on {
  background-color: var(--border);
}
.List-friends {
  width: 100%;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 100px;
  overflow-y: visible;
  overflow-x: hidden;
}

@media (hover: hover) {
  .card-msg-info:hover {
    background-color: var(--border);
  }
}
.card-msg-title-none {
  display: none;
}

.card-msg-newsms-none {
  display: none;
}

.card-msg-newsms-sms {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 15px 0px 15px 0px;
  margin-bottom: 18px;
  border-radius: 10px;
  background-color: var(--Azul-claro);
}

.card-msg-newsms-sms h4 {
  all: unset;
  font-size: 0.8rem;
  text-align: center;
}

.card-msg-newsms-sms span {
  font-weight: bolder;
}

.card-user1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-user1 img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.card-user-information {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.card-user-information h4,
.card-user-information p {
  all: unset;
  font-size: 0.9rem;
}
.card-user-information p {
  width: 85%;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.card-user-information .bx {
  font-size: 20px;
}

@media (500px<=width <= 715px) {
  .card-user-information {
    display: none;
  }
  .card-msg {
    width: 15%;
  }
  .card-msg-info {
    padding-left: 0;
  }
  .card-user1 {
    justify-content: center;
  }
}
