:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --chat: #cffccf;
    --btns: #0095f6;
    --backGchat: #F2F2F2;
}

.display-chat,
.display-chat-information {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}

.display-chat-img-larger {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.display-chat-img-larger-close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 2px;
    cursor: pointer;
}

.display-chat-img-larger-close .bx{
    font-size: 30px;
}

.display-chat-img-larger  img {
    max-width: 400px;
    border-radius: 5px;
}

.loading-img {
    max-width: 250px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(194, 194, 194);
}

.display-chat-information-profiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.display-chat-information-profiles-reverse {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.display-chat-information-profiles-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--Blanco-hueso);
}

.display-chat-information-profiles-1-reverse {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--Azul-claro);
}

.display-chat-information-profiles-1-reverse img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.display-chat-information-profiles-1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.display-chat-information-profiles-1-reverse h5 {
    all: unset;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-chat-information-profiles-1 h5 {
    all: unset;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-chat-information-profiles-2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--Azul-claro);
}

.display-chat-information-profiles-2-reverse {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background-color: var(--Blanco-hueso);
}

.display-chat-information-profiles-2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.display-chat-information-profiles-2-reverse img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.display-chat-information-profiles-2 h5 {
    all: unset;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-chat-information-profiles-2-reverse h5 {
    all: unset;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-msg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    transition: opacity 0.3s ease;
}

.display-msg.bluer-bg {
    opacity: 0.2;
}

.container-msg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    gap: 20px;
}

.container-msg img {
    display: none;
}

.container-msg-with-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    margin-bottom: 160px;
    gap: 20px;
}

.container-msg-with-img img {
    max-height: 150px;
    position: absolute;
    bottom: -160px;
    border-radius: 3px;
}

.container-msg p {
    text-align: left;
    font-size: 0.85rem;
}

.container-msg-with-img p {
    text-align: left;
    font-size: 0.85rem;
}

.container-msg-with-img h6 {
    font-size: 0.6rem;
    font-weight: 700;
}

.container-msg h6 {
    font-size: 0.6rem;
    font-weight: 700;
}

.display-msg-sender {
    width: 80%;
    align-self: flex-end;
    margin-left: 30%;
    padding: 5px 8px 5px 5px;
    border-radius: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    background-color: var(--Azul-claro);
}

.display-msg-receptor {
    width: 80%;
    align-self: flex-start;
    margin-right: 30%;
    padding: 5px 5px 5px 8px;
    border-radius: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    background-color: var(--Blanco-hueso);
}

.display-time-sender {
    display: flex;
    align-self: flex-end;
    margin-left: 70%;
    position: absolute;
    bottom: -26px;
    right: 0px;
    gap: 8px;
}

.display-time-receptor {
    display: flex;
    align-self: flex-start;
    margin-right: 70%;
    position: absolute;
    bottom: -26px;
    left: 0;
    gap: 8px;
}

@media(360px <= width < 400px) {
    .display-chat-img-larger  img {
        max-width: 358px;
    }
}

@media(310px <= width < 359px) {
    .display-chat-img-larger  img {
        max-width: 320px;
    }
}

@media(width < 500px) {

    .display-chat,
    .display-chat-information {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border-radius: 3px;
    }


}