:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
    --chat: #cffccf;
    --btns: #0095f6;
    --backGchat: #F2F2F2;
}

.display-chat {
    width: 450px;
    height: auto;
    background-color: var(--backGchat);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
}

.display-msg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
}

.container-msg-img-sender {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -55px;
    top: 7px;
    border: 5px solid var(--Azul-claro);
}

.container-msg-img-sender::after {
    content: '';
    position: absolute;
    top: 18px;
    left: -23px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 40px 15px 0; 
    border-color: transparent var(--Azul-claro) transparent transparent; 
}

.container-msg-img-sender img {    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 5;
}

.container-msg-img-receptor {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: -55px;
    top: 4px;
    border: 5px solid var(--Verde-menta);
}

.container-msg-img-receptor::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -23px; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 40px; 
    border-color: transparent transparent transparent var(--Verde-menta); 
}

.container-msg-img-receptor img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 5;
}

.container-msg{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    gap: 20px;
}

.container-msg p{
    text-align: left;
    font-size: 0.85rem;
}

.container-msg h6 {
    font-size: 0.6rem;
    font-weight: 700;
}

.display-msg-sender {  
    width: 80%;
    align-self: flex-end;
    margin-left: 30%;
    padding: 5px 8px 5px 5px;
    border-radius: 10px;
    background-color: var(--Azul-claro);
}

.display-msg-receptor {    
    width: 80%;
    align-self: flex-start;
    margin-right: 30%;
    padding: 5px 5px 5px 8px;
    border-radius: 10px;
    background-color: var(--Verde-menta);
}

.display-time-sender {
    display: flex;
    align-self: flex-end;
    margin-left: 70%;
    position: absolute;
    bottom: -26px;
    right: 0px;
    gap: 8px;
}

.display-time-receptor {
    display: flex;
    align-self: flex-start;
    margin-right: 70%;
    position: absolute;
    bottom: -26px;
    left: 0;
    gap: 8px;
}

@media(width < 500px){
    .display-chat {
        width: 95%;
        height: auto;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border-radius: 3px;
    }
}

@media(width < 570px){
    .container-msg-img-sender {   
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        top: 12px;
        border: 3px solid var(--Azul-claro);
    }
    
    .container-msg-img-sender::after {        
        border-width: 0px 0 0px 0px; 
    }
    
    .container-msg-img-sender img {    
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 5;
    }
    
    .container-msg-img-receptor {   
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: 90%;
        top: 10px;
        border: 4px solid var(--Verde-menta);
    }
    
    .container-msg-img-receptor::after {
        border-width: 0px 0px 0px 0px; 

    }
    
    .container-msg-img-receptor img {   
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 5;
    }
}
