.container-msg-with-img-emojis-reaction-sender {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-y: hidden;
    overflow-x: auto;
    bottom: -175px;
    z-index: 50;
    right: 0;
    gap: 0.3rem;
    padding: 1px 3px 7px 3px;
    border-radius: 10px;
    background: rgba(193, 53, 244, 0.35);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.449);
}

.container-msg-with-img-emojis-reaction-sender::-webkit-scrollbar {
    display: none;
}

.container-msg-with-img-emojis-reaction-sender i {
    all: unset;
    width: 15px;
    height: 15px;
    font-size: 15px;
}

.container-msg-with-img-emojis-reaction-receptor {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -175px;
    z-index: 50;
    left: 0;
    gap: 0.3rem;
    padding: 1px 3px 7px 3px;
    border-radius: 10px;
    background: rgba(193, 53, 244, 0.35);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.449);
}

.container-msg-with-img-emojis-reaction-sender.off-this,
.container-msg-with-img-emojis-reaction-receptor.off-this{
    display: none;
}

.container-msg-with-img-emojis-reaction-receptor i {
    all: unset;
    width: 15px;
    height: 15px;
    font-size: 15px;
}
