* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --darkmode: #2c3e50;
  --Azul-claro: #add8e6;
  --Verde-menta: #98fb98;
  --Gris-perla: #d3d3d3;
  --Blanco-hueso: #f5f5dc;
  --Rosa-suave: #ffb6c1;
  --btns: #0095f6;
}

body {
  margin: 0;
  padding: 0;
}

.SOCIAL {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
