:root {
    --border: #dbdbdb;
    --Azul-claro: #ADD8E6;
    --Verde-menta: #98FB98;
    --Gris-perla: #D3D3D3;
    --Blanco-hueso: #F5F5DC;
    --Rosa-suave: #FFB6C1;
}

.form-register-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-register-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-register-register {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-register-email,
  .form-register-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-hiden {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .login-hiden i {
    cursor: pointer;
  }
  
  .form-register-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-register-btn:hover {
    background-color: #0056b3;
  }
  